body {
 background-image:url("../images/background.jpg"); 
  color: orange;
  background-size:cover;
}


.navigation{
  background-color:blue;
  float:right;
  overflow:hidden;
  text-align:left;
  padding: 5px;
}

.navigation-container{
  margin:auto;
  width:650px;
}

.content {
  background-color:white;
padding: 5px 10px;
}

.container{ 
margin: 120px;
}

.computer {
   width:35%;
   height:35%;
  display:block;
  float:right;
  margin:20px;
}